@model WebMVCSafeAbuelo.Models.MetodologiaAtaque

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MetodologiaAtaque</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrincipalMotorPsicologico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrincipalMotorPsicologico)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeñalesDeAlarma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeñalesDeAlarma)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccionPreventiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccionPreventiva)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstaActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstaActivo)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Administrador"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> <text> | </text>
    }
    <a asp-action="Index">Back to List</a>
</div>
