@model WebMVCSafeAbuelo.Models.ReporteIncidente

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WebMVCSafeAbuelo.Models.ReporteIncidente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaReporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaReporte)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localidad)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlataformaDeContacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlataformaDeContacto)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EjercePresionPsicologica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EjercePresionPsicologica)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneraSentidoDeUrgencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneraSentidoDeUrgencia)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionDelEngaño)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionDelEngaño)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />

        @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Administrador"))
        {
            <text>
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            </text>
        }

        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
    </form>
</div>
