@model WebMVCSafeAbuelo.Models.ReporteIncidente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReporteIncidente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaReporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaReporte)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localidad)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlataformaDeContacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlataformaDeContacto)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EjercePresionPsicologica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EjercePresionPsicologica)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneraSentidoDeUrgencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneraSentidoDeUrgencia)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionDelEngaño)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionDelEngaño)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Administrador"))
    {
    <text>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-warning">Editar</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-danger">Eliminar</a>
    </text>
    }
</div>
z